body {
  font-family: 'Montserrat', sans-serif;
}

.container__background {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 700px;
  height: 700px;
}

.container__background-animate {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 200%;
  width: 200%;
  transform: rotate(45deg);
  background: repeating-linear-gradient(0, white 0, white 70px, black 70px, black 140px);
  animation: movingTo 1s linear infinite;
}

@keyframes movingTo {
  from {
    background-position-y: 0px;
  }
  to {
    background-position-y: -140px;
  }
} 

.container__static {
  background: url('images/background.png') top 0 right 0 no-repeat;
  width: 750px;
  height: 700px;
  position: absolute;
  right: 0;
  top: 250px;
}

.header {
  display: flex;
  max-width: 1400px;
  margin: 100px auto 56px;
}

.main {
  position: relative;
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  justify-content: flex-start;
}

.content__title {
  width: 462px;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 20px;
}

.content__text {
  width: 505px;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 100px;
}

.btn {
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  width: 210px;
  height: 65px;
  border:  none;
  border-radius: 12px;
  cursor: pointer;
  outline: none;
  margin-bottom: 75px; 
}

.content__btn-bue{
  color: #fff;
  background-color: #000;
  margin-right: 10px;
  position: relative;
}

.content__btn-bue:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.content__btn-bue::before {
  content: '';
  position: absolute;
  width: 52px;
  height: 52px;
  background-image: url('./images/face-bue.png');
  top: -52px;
  left: 79px;
  cursor: initial;
}

.content__btn-cancel {
  color: #000;
  background-color: #FBCB03;
  margin-left: 10px;
  position: relative;
}

.content__btn-cancel:hover {
  background-color: #E6B901;
}

.content__btn-cancel::before {
  content: '';
  position: absolute;
  width: 44px;
  height: 44px;
  background-image: url('./images/face-cancel.png');
  top: -44px;
  left: 83px;
  cursor: initial;
}

.questions__subscribe,
.questions__review {
  display: none;
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(187, 187, 187, 0.4);
}

.questions__subscribe-wrapper,
.questions__review-wrapper {
  position: relative;
  margin: 0 auto;
  padding: 10px;
  width: 610px;
  height: 498px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.questions__subscribe-wrapper {
  background-color: #fff;
}

.questions__review-wrapper {
  background-color: #000;
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.questions__subscribe-title {
  width: 300px;
  margin-left: 95px;
  margin-top: 40px;
  margin-bottom: 150px;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: #000000;
  position: relative;
}

.questions__subscribe-title::before {
  content: '';
  position: absolute;
  width: 52px;
  height: 52px;
  background-image: url('./images/face-bue.png');
  top: 10px;
  left: -72px;
}

.questions__subscribe-form {
  margin-left: 43px;
}

.questions__subscribe-form input {
  margin-right: 10px;
  width: 334px;
  height: 50px;
  background: #F8F8F8;
  border-radius: 11px;
  outline: none;
  padding-left: 28px;
  margin-bottom: 80px;
}

.questions__subscribe-btn {
  width: 161px;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 11px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  cursor: pointer;
  outline: none;
}

.questions__subscribe-btn:hover,
.questions__subscribe-btn:active {
  background-color: rgba(187, 187, 187, 0.4);
  transition: 1s;
}

.questions__subscribe-license {
  width: 237px;
  height: 36px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.32);
  margin-bottom: 20px;
}

.questions__subscribe-license a {
  color: rgba(0, 0, 0, 0.32);
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.32);
}

.questions__subscribe-back,
.questions__review-back { 
  width: 450px;
  height: 36px;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  position: relative;
  text-decoration: none;
}

.questions__subscribe-back {
  color: #000;
  margin-left: 38px; 
}
.questions__review-back {
  color: #fff;
  margin-left: 65px; 
}

.questions__subscribe-back::before {
  content: '';
  position: absolute;
  width: 18px;
  height: 35px;
  background-image: url('./images/arrow.svg');
  top: 0;
  left: -30px;
}

.questions__review-back::before {
  content: '';
  position: absolute;
  width: 18px;
  height: 35px;
  background-image: url('./images/arrow-white.svg');
  top: 0;
  left: -30px;
}

.questions__subscribe-done {
  margin: 0 auto;
  width: 334px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #000;
}

.questions__review-title { 
  width: 212px;
  height: 36px;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: #FFFFFF;
  margin-left: 95px;
  margin-top: 40px;
  margin-bottom: 82px;
  position: relative;
}

.questions__review-title::before {
  content: '';
  position: absolute;
  width: 44px;
  height: 44px;
  background-image: url('./images/face-cancel.png');
  top: 0;
  left: -64px;
}

.questions__review-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.questions__review-item {
  width: 441px;
  height: 50px;
  border: 1px solid #FFF;
  border-radius: 45px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #FFF;
  background-color: #000;
  margin-bottom: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.questions__review-item:hover,
.questions__review-item:active {
  transition: 1s;
  color: #000;
  background-color: #fff;
}

.questions__review-done {
  margin: 50% auto;
  text-align: center;
  color: #fff; 
  width: 391px;
  height: 36px;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  position: relative;
}

.questions__review-done::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background-image: url('./images/tumbsup.png');
  top: -120px;
  left: 145px;
}
